.main {
    display: flex;
    flex-direction: row;
    align-items:center;
    
    margin: auto;
    .container {
        background: rgb(247, 245, 245);
        height: 420px;
        max-height: 100%;
        padding: 25px;
        margin: 8rem 0;
        border-radius: 4px;
        box-shadow: black 10px 10px;
    }
    .logForm {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content:flex-start;
        height: 100%;
        width: 400px;
        color: black;

        .title {
        padding: 0px 0;
        font-weight: 700;
        font-size: 20px;
        }

        .formsFields {
            margin: 20px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .emailLabel{
                display: flex;
                justify-content: flex-start;
                margin-left: 10px;
                font-size: 17px;
                font-weight: bold;
            }
            .emailFields {
                width: 100%;
                border-radius: 24px;
                padding: 8px 10px;
            }

            .passwordLabel {
                margin-top: 24px;
                display: flex;
                justify-content: flex-start;
                margin-left: 10px;
                font-size: 17px;
                font-weight: bold;
            }
            .passwordFields {
                width: 100%;
                border-radius: 24px;
                padding: 8px 10px;
                // font-size: 17px;
            }
        }
        .submitButton {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;

            .buttonLogin {
                margin-top: 20px;
                border: none;
                font-size: 14px;
                font-weight: 700;
                border-radius: 20px;
                padding: 10px 40px;
                background: green;
            }
        }

        .loginExisting {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 0;
        }
        .message {
            color: red;
            font-size: 15px;
            margin: 10px 0;
            text-align: center;
        }
        .shake {
            animation: shake 0.3s ease-in-out;
        }
    }

    @media (max-width: 628px) {
        .container {
            width: 75%;
            height: 420px;
        }
        .logForm {
            width: 100%;
        }
    }
}
